                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th width="60">id</th>
                                        <th width="100" class="Dropdown" field="idle_type" value="{$idle_type}">
                                            <a href="###"><span>
                                            <if condition="$idle_type eq 0">
                                            出售信息
                                            <elseif condition="$idle_type eq 1"/>
                                            求购信息
                                            <else />
                                            闲置类型
                                            </if>
                                            </span><i class="fa fa-fw fa-caret-down"></i>
                                            <ul>
                                                <li value="">全部类型</li>
                                                <li value="0">出售信息</li>
                                                <li value="1">求购信息</li>
                                            </ul>
                                            </a>
                                        </th>
                                        <th>物品名</th>
                                        <th width="120">昵称</th>
                                        <th width="120">原价</th>
                                        <th width="120">现价</th>
                                        <th width="80" class="Dropdown" field="idle_state" value="{$idle_state}">
                                            <a href="###"><span>
                                            <if condition="$idle_state eq 0">
                                            未审核
                                            <elseif condition="$idle_state eq 1"/>
                                            已审核
                                            <elseif condition="$idle_state eq 2"/>
                                            已完成
                                            <elseif condition="$idle_state eq 3"/>
                                            已取消
                                            <else />
                                            状态
                                            </if>
                                            </span><i class="fa fa-fw fa-caret-down"></i>
                                            <ul>
                                                <li value="">全部</li>
                                                <li value="0">未审核</li>
                                                <li value="1">已审核</li>
                                                <li value="2">已完成</li>
                                                <li value="3">已取消</li>
                                            </ul>
                                            </a>
                                        </th>
                                        <th width="120">添加时间</th>
                                        <th width="160">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <volist name="list" id="item">
                                    <tr>
                                        <td align="center">{$item.idle_id}</td>
                                        <td><if condition="$item.idle_type eq 0">
                                        <span class="text-info">出售信息</span>
                                        <elseif condition="$item.idle_type eq 1"/>
                                        <span class="text-warning">求购信息</span>
                                        </if></td>
                                        <td>{$item.idle_name}</td>
                                        <td><span title="{$uin_list['data'][$item['uin']]['phone']}">{$uin_list['data'][$item['uin']]['weixin_info']['nickname']}</span></td>
                                        <td>￥{$item.idle_original_price}元</td>
                                        <td>￥{$item.idle_present_price}元</td>
                                        <td><if condition="$item.idle_state eq 0">
                                        <button type="button" class="btn btn-sm btn-warning idle_verify" idle_id="{$item.idle_id}">审核</button>
                                        <elseif condition="$item.idle_state eq 1"/>
                                        <span class="text-success">已审核</span>
                                        <elseif condition="$item.idle_state eq 2"/>
                                        <span class="text-info">已完成</span>
                                        <elseif condition="$item.idle_state eq 3"/>
                                        <span class="text-danger">已取消</span>
                                        </if></td>
                                        <td>{$item.add_time}</td>
                                        <td><a class="btn btn-sm btn-primary idle_edit" href="###" idle_id="{$item.idle_id}"><i class="fa fa-edit fa-lg"></i> 编辑</a> <a class="btn btn-sm btn-danger idle_del" href="###" idle_id="{$item.idle_id}"><i class="fa fa-trash-o fa-lg"></i> 删除</a></td>
                                    </tr>
                                </volist>
                                </tbody>
                            </table>