<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>我的家庭</title>
    <link rel="stylesheet" href="__PUBLIC__/Prop/pintuer.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Prop/wuye.css"/>
    <script src="__PUBLIC__/Prop/js/jquery.min.js"></script>
    <script src="__PUBLIC__/Prop/js/pintuer.js"></script>
</head>
<body class="bg">
<header class="clearfix padding bg-white border-bottom">
    <div class="x4">
        <a href="{:U('Prop/My/index')}"><span class="icon-angle-left text-large text-diy"></span></a>
    </div>
    <h4 class="x4 text-center height">
        我的家庭
    </h4>
</header>
<volist name="house_list" id="item">
<a href="###" class="bg-white border-bottom  padding clearfix margin-small-top border-top chose-house">
    <div class="x10 height">{$item.project_name}{$item.building}(栋){$item.room_number}号</div>
    <div class="x2 text-right padding-small-top hidden check">
        <span class="text-gray text-big icon-check text-diy "></span>
    </div>
</a>
</volist>
</body>
<script>
//    $('.chose-house').click(function(){
//        $(this).find('.check').removeClass('hidden');
//    });
</script>
</html>