            <empty name="list">
                <ul>
                    <li>
                        <div class="margin-top text-center">
                            <div class="no-content">
                                <span class="icon-bullhorn text-white"></span>
                            </div>
                            <div class="margin-top">
                            	没有找到符合的拼车信息
                            </div>
                        </div>
                    </li>
                </ul>
            </empty>
            <volist name="list" id="item">
            <div class="padding clearfix border-bottom">
                <a href="{:U('carpool_info',array('carpool_id'=>$item['carpool_id']))}" class="li-item x12" carpool_id="{$item.carpool_id}">
                    <div class="img table-cell">
                        <notempty name="item.carpool_img"><img src="{$item.carpool_img}?imageView2/0/w/100/h/75" alt="" class="" width="100" /></notempty>
                    </div>
                    <div class="text text-gray padding-left height-small margin-small-top table-cell">
                        <div>标题</div>
                        <div>路线</div>
                        <div>出发时间</div>
                    </div>
                    <div class="intro padding-left height-small margin-small-top table-cell">
                        <div>{$item.carpool_title}</div>
                        <div>{$item.carpool_start}<notempty name="item.carpool_start">-</notempty>{$item.carpool_route}<notempty name="item.carpool_end">-</notempty>{$item.carpool_end}</div>
                        <div>{$item.carpool_gotime}</div>
                    </div>
                </a>
            </div>
            </volist>
            