<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>{$info.carpool_title}</title>
    <link rel="stylesheet" href="__PUBLIC__/Prop/pintuer.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Prop/wuye.css"/>
    <script src="__PUBLIC__/Prop/js/jquery.min.js"></script>
</head>
<body class="bg">
<header class="clearfix padding bg-white border-bottom">
    <div class="x4">
        <a href="{:U('Prop/Idle/index')}"><span class="icon-angle-left text-large text-diy"></span></a>
    </div>
    <h4 class="x4 height text-center">
        拼车信息
    </h4>
</header>
<section class="margin-top" id="idle_info">
    <notempty name="info.carpool_img">
    <div class="form-group text-gray ">
        <div class="label margin-small-top padding-left">
            <label for="carpool_img">拼车汽车</label>
        </div>
        <div class="field padding bg-white  border-bottom border-top up-img-box">
            <div class="up-img">
                <span class="up-img-btn text-gray"><img src="{$info.carpool_img}?imageView2/0/w/400/h/300" alt="" class=""/></span>
            </div>
        </div>
    </div>
    </notempty>
    <div class="form-group select-group padding-small bg-white  border-bottom border-top margin-top clear">
        <div class="label float-left">
            <label for="carpool_title"> 标题</label>
        </div>
        <div class="field">
            {$info.carpool_title}
        </div>
    </div>

    <div class="form-group select-group padding-small bg-white border-top margin-top clear">
        <div class="label float-left">
            <label for="carpool_route"> 路线</label>
        </div>
        <div class="field">
            {$info.carpool_route}
        </div>
    </div>
    <div class="form-group select-group padding-small bg-white  border-bottom border-top clear">
        <div class="label float-left">
            <label for="carpool_gotime"> 出发时间</label>
        </div>
        <div class="field">
            {$info.carpool_gotime}
        </div>
    </div>

    <div class="form-group select-group padding-small bg-white border-bottom border-top margin-top clear">
        <div class="label float-left">
            <label for="carpool_type"> 拼车类型</label>
        </div>
        <div class="field">
            {$info.carpool_type_text}
        </div>
    </div>
    
    <div class="margin-top padding-small-left padding-small-right clearfix form-button">
    	<if condition="$info.carpool_type eq 1"> 
        <button type="button" class="button x12 bg-diy" id="call" token="{:session('token')}" uin="{:session('uin')}">联系车主</button>
        <elseif condition="$info.carpool_type eq 2"/>
        <button type="button" class="button x12 bg-diy" id="call" token="{:session('token')}" uin="{:session('uin')}">联系乘客</button>
        </if>
    </div>
</section>
<script src="__PUBLIC__/Admin/js/layer/layer.js"></script>
<script>
$(function(){
	$("#call").click(function(e) {
        window.location.href="http://im.guanyu.cn/chart/user.html?my_token="+$(this).attr("token")+"&to_id="+$(this).attr("uin");
    });
});

</script>

</body>
</html>