<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="keywords" content="" />
<meta name="description" content="" />
<title>{$webname}</title>
<script src="__PUBLIC__/js/jquery.js"></script>
</head>
<body>
<script type="text/javascript">  
    $.getJSON("{$Think.config.GET_TOKEN}",  
    function(result) {  
       //alert(result.token);exit;
        if (result.status==1) {
			location.href='__MODULE__/Index/Apilogin?token='+result.token+'&backurl={$backurl}';        	
		}else{		
			location.href='__MODULE__/Index/logint';
		}
        });
</script>
</body>
</html>

