<div id="view_table" class="clear">
    <volist name="field" id="item">
    <if condition="$item.field_type eq 'option' ">
    <div class="form-group">
        <label>{$item.field_name}</label>
        <input class="form-control" value="{$item.value}" readonly="readonly">
    </div>
    <elseif condition="$item.field_type eq 'img' "/>
    <div class="form-group">
        <div><label>{$item.field_name}</label></div>
        <img class="img-thumbnail" src="{$item.value}" alt="">
    </div>
    <elseif condition="$item.field_type eq 'time' "/>
    <div class="form-group">
        <label>{$item.field_name}</label>
        <input class="form-control" value="{$item.value}" readonly="readonly">
    </div>
    <elseif condition="$item.field_type eq 'text' "/>
    <div class="form-group">
        <label>{$item.field_name}</label>
        <input class="form-control" value="{$item.value}" readonly="readonly">
    </div>
    <elseif condition="$item.field_type eq 'house' "/>
    <div class="form-group">
        <label>{$item.field_name}</label>
        <input class="form-control" value="{$item.value}" readonly="readonly">
    </div>
    </if>
    </volist>
    <div class="form-group">
        <label>状态</label>
        <label class="radio-inline">
        	<input type="radio" name="server_state" value="0" <if condition="$info.server_state eq 0 ">checked="checked"</if>>未审核
        </label>
        <label class="radio-inline">
        	<input type="radio" name="server_state" value="1" <if condition="$info.server_state eq 1 ">checked="checked"</if>>已联系
        </label>
        <label class="radio-inline">
        	<input type="radio" name="server_state" value="2" <if condition="$info.server_state eq 2 ">checked="checked"</if>>已分派
        </label>
        <label class="radio-inline">
        	<input type="radio" name="server_state" value="3" <if condition="$info.server_state eq 3 ">checked="checked"</if>>已完成
        </label>
    </div>
    <input type="hidden" name="server_id" value="{$info.server_id}">
<button type="submit" name="save" class="btn btn-default">保存</button>
<button type="button" name="close" class="btn btn-sm btn-link pull-right">关闭</button>

<script>
$(function() {
	$("#view_table button[name='close']").click(function(e) {
		layer.closeAll('page');
	});
	//$("#is_read_{$server_id}").html('<i class="fa fa-check fa-lg text-success"></i>已读');
});
$("#view_table button[name='save']").click(function(e) {
	layer.load(1, {shade: [0.4,'#000']});
	var server_id = $("#view_table input[name='server_id']").val();
	var server_state = $('#view_table :radio[name="server_state"]:checked').val();
	$.post("/Admin/Server/serv_edit/",{
		"server_id": server_id,
		"server_state": server_state,
	},function(data){
		layer.closeAll('loading');
		if(data.err){
			layer.msg(data.msg, {icon: 0});
		}
		else{
			layer.closeAll('page');
			layer.msg(data.msg);
			flash_page();
		}
	},"json");	
});


</script>
</div>